@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap");
:root {
  --white: rgb(250, 250, 250);
  --black: rgb(40, 40, 40);
  --red: rgb(225, 88, 81);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
}

a,
a:visited {
  color: var(--red);
  font-style: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-top: 8px;
  padding: 0;
}

li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

dl .list-item {
  margin-bottom: 5px;
}

dt {
  display: inline;
  font-weight: 700;
}

dd {
  display: inline;
  margin: 0;
}

dd:after {
  content: ",";
}

dl .list-item dd:last-child::after {
  content: "";
}

h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  /* color: var(--white); */
}

h3 {
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

.container {
  box-sizing: border-box;
  padding: 0 4%;
  background-color: var(--white);
}
.intro {
  box-sizing: border-box;
  width: 92vw;
  height: 100vh;
  padding: 4% 0;
}

.intro h1 {
  font-size: 8em;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.intro h2 {
  font-size: 3em;
  font-weight: 600;
  margin: 0;
  color: var(--white);
}

.intro-wrapper {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0 0 0 8.3%;
  background-color: var(--red);
}

.tagline {
  width: fit-content;
}

.intro nav {
  position: relative;
  text-align: center;
}

.nav-arrow {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--white);
  margin: 0;
  position: relative;
  top: -80px;
  font-size: 4em;
}

.nav-arrow img {
  position: relative;
  top: -20px;
  transition: top 0.35s cubic-bezier(0.12, 0.6, 0.38, 2.53);
}

.nav-arrow img.jump {
  top: -28px;
  transition: top 0.5s ease;
}

/* Main */
main {
  box-sizing: border-box;
  width: 92vw;
  min-height: 100vh;
  /* padding: 4% 0; */
}
/* Information Section */

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "contact-info statement-info";
  margin-bottom: 50px;
}
.contact-info {
  grid-area: contact-info;
}

.contact-info li::after {
  content: "|";
  font-style: normal;
  color: var(--red);
  margin-left: 5px;
}

.contact-info li:last-child::after {
  content: "";
}
.statement-info {
  grid-area: statement-info;
  padding-top: 20px;
}

/* Portfolio Section */

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 0px 8.3%;
  grid-template-areas:
    "psyched frame-designer simon"
    "psyched-stack frame-designer-stack simon-stack";
}

.psyched {
  grid-area: psyched;
}

.psyched-stack {
  grid-area: psyched-stack;
}

.frame-designer {
  grid-area: frame-designer;
}

.frame-designer-stack {
  grid-area: frame-designer-stack;
}
.simon {
  grid-area: simon;
}

.simon-stack {
  grid-area: simon-stack;
}

.projects-grid-item header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.projects-grid-item h2 {
  display: inline-block;
}

.project-links a {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.project-links a.link-icon {
  background-image: url("../images/link-icon-black.svg");
}

.project-links a.link-icon:hover {
  background-image: url("../images/link-icon-red.svg");
}

.project-links a.git-icon {
  background-image: url("../images/git-icon-black.svg");
}

.project-links a.git-icon:hover {
  background-image: url("../images/git-icon-red.svg");
}

.projects-grid img {
  width: 100%;
}

/* Desktop / Tablets */

@media (max-width: 1250px) {
  .intro h1 {
    font-size: 7em;
  }

  .word-group {
    display: inline-block;
  }

  .intro h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
    color: var(--white);
  }

  h1 {
    font-size: 2.5em;
  }

  .info-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 4.5%;
    grid-template-areas: "contact-info statement-info statement-info";
  }

  .contact-info li {
    display: block;
    line-height: 1.2;
  }
  .contact-info li::after {
    content: "";
  }
  .statement-info {
    padding-top: 0;
  }

  .projects-grid {
    gap: 0px 4.5%;
  }
}

@media (max-width: 900px) {
  .intro h1 {
    font-size: 5em;
    /* margin-bottom: 5%; */
  }

  .intro h2 {
    font-size: 2em;
  }

  .info-grid {
    display: block;
  }

  .contact-info li {
    display: inline-block;
  }

  .contact-info li::after {
    content: "|";
    font-style: normal;
    color: var(--red);
    margin-left: 5px;
  }

  .projects-grid {
    display: block;
  }

  .divider {
    /* height: 10px; */
    margin: 30px 10%;
    /* padding: 0 20%; */
    border-bottom: 1px solid rgb(225, 225, 225);
  }
}

@media (max-width: 700px) {
  .intro h1 {
    font-size: 4em;
  }

  .intro h2 {
    font-size: 1.8em;
  }

  .contact-info li {
    display: block;
    line-height: 1.2;
  }
  .contact-info li::after {
    content: "";
  }
}
